/* style for the container div */
.container{
    max-width: 1200px;
    height: 550px;
    margin: 0 auto;
    text-align: center; 
}

/* style for the slider div */

.slider{
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}

/* style for a individual slides */

.slider .slick-slide{
    transition: transform 0.3s ease-in-out;
    outline: none;
}

/* Styles for the images inside each slide */
.slide img {
    width: 500px;   
    /* Make the images responsive within their parent container */
    height: auto;
    display: block;
    margin: 0 auto;
    border: #000315 30px;
  }
  
  /* Styles for the slider dots (pagination) */
  .slider .slick-dots {
    position: absolute;
    bottom: 10px; 
    left: 0;
    right: 0;
    text-align: center;
    /* background-color: #007bff; */
  }
  
  /* Style for individual dot indicators */
  .slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    list-style: none;
  }
  

  /* Style for active dot indicator */

  .slider .slick-dots li.slick-active button {
    background-color: #007bff; 
    /* Change the color to match your design */
    border: 2px solid #ff0015;
     /* Change the color to match your design */
    border-radius: 50%;
    width: 50px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    cursor: default;
  }
  
  /* Style for inactive dot indicators */


  .slider .slick-dots li button {
    background-color: #e70505; 
    /* Change the color to match your design */
    border: 2px solid #000315; 
    /* Change the color to match your design */
    border-radius: 50%;
    width: 50px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    cursor: pointer;
  }
  
  /* Style for the slide titles */


  
