.container{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 220, 255);
}

.section-one{
    width: 45%;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.navlink{
    margin: auto 10px auto auto;
    font-weight: 400;
    font-size: larger;
    color: black;
}
.section-two{
    width: 45%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto 0 0 10px;
}


.icon svg{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 45px;
    border-radius: 100%;
    background-color: white;
}

.input-text{
    width: 185px;
    height: 25px;
    margin-left:10px;
    margin-top: 20px;
    border-radius: 8px;
}

.input-botton{
    width: 87px;
    height: 30px;
    border-radius: 8px;
    background-color: chartreuse;
}
.p-footer{
    width: 100%;
    background-color: rgb(224, 234, 243);
    border-radius: 0 0 10px 10px;
    margin: 1px;
}

.bi{
    width: 72px;
    font-size: 20px;
    color: blue;
    background-color: white;
    border-radius: 100%;
}