.footer-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 220, 255);
}

.section-one{
    min-width: 0px;
    max-width: 750px;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.navlink{
    margin: auto 5px auto auto;
    font-weight: 400;
    color: black;
}

.section-two{
    min-width: 235px;
    max-width: 635px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon, .Newsletters {
    width: 80%;
}

.icon svg{
    width: 40px;
    height: 40px;
    margin: 10px 1%;
    border-radius: 100%;
    background-color: white;
}

.input-text{
    width: 50%;
    height: 25px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: aliceblue;
}

.input-botton{
    height: 25px;
    border-radius: 8px;
    background-color: chartreuse;
}
.p-footer{
    width: 100%;
    background-color: rgb(224, 234, 243);
    border-radius: 0 0 10px 10px;
    margin: 1px;
}

.bi{
    width: 72px;
    font-size: 20px;
    color: blue;
    background-color: white;
    border-radius: 100%;
}