
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 1, 28);
}

.loginkey{
    width: 90px;
    height: 5px;
    margin: 30px 0px 40px 50px ;
    /* margin-top: 20px;
    margin-left: 50px; */
    font-weight: bold;
    text-decoration: wavy;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.8rem; 
}

.logo{
    width: 5px;
    height: 5px;
    margin: 30px  50px 20px ;
    background-image: url('http://adibeshgh.com/assets/logo.7df3b54d.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

nav div {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 8px;
}

nav div input{
    border-radius: 5px;
}

.menu{
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    justify-content: space-between;
    width: 3.25rem;
    height: 3rem;
    margin: 10px 50px 10px 1178px;
}

nav button div span{
    height: 0.4rem;
    width: 100%;
    background-color: rgb(140, 17, 255);
    border-radius: 0.2rem;
}

nav button div{
    margin-bottom: 90px;
}

nav button p{
    color: black;
    float: right;
    margin-right: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: x-large;
}

nav button{
    background-color: rgb(253, 253, 0);
    width: 100%;
}

.boxgrouping{
    padding-top: 5px;
    background-color: blue;
    padding-bottom: 5px;
    width: 370px;
    float: right;
}

.grouping-div{

    display: flex;
    direction: rtl;
    margin: 10px;
    background-color: cyan;
    width: 350px;
}

.grouping-div link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   
.clear{
    clear: both;
}