nav{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 1, 28);
    border: #fff;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginkey{
    height: auto;
    margin: 30px 0px 40px 80px ;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 1rem; 
    background-color: blue;
}

.contact{
    font-size: larger;
    font-weight: bold;
    width: 250px;
}


.logo{
    height: auto;
    margin: 30px  80px 20px ;
    background-image: url('http://adibeshgh.com/assets/logo.7df3b54d.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

nav div {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 8px;
}

nav div input{
    border-radius: 5px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3.25rem;
    height: 3rem;
    margin: 10px 50px 10px 1148px;
}



button {
    width: 100%;
    background-color: rgb(247, 255, 6);
    border: #fff;
}

button p {
    font-size: larger;
    font-weight: bold;
    margin-top: 11px;
}

.boxgrouping{
    padding-top: 5px;
    background-color: blue;
    padding-bottom: 5px;
    width: 370px;
    float: right;
}

.grouping-div{
    display: flex;
    direction: rtl;
    margin: 10px;
    background-color: cyan;
    width: 350px;
}

.grouping-div link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   
.clear{
    clear: both;
}