
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 3, 92);
}

.loginkey{
    width: 90px;
    height: 5px;
    margin-top: 35px;
    margin-left: 50px;
    font-weight: bold;
    text-decoration: wavy;
    color: rgb(250, 250, 255);
    border-radius: 0.5rem;
    padding: 0.8rem;
    
}

.logo{
    margin-right: 50px;
    width: 5px;
    height: 5px;
}

.logo img{
    width: 50px;
    height: 50px;
}

nav div {
    color: aliceblue;
    font-weight: bold;
    margin-top: 35px;
}

nav div input{
    border-radius: 5px;
}
