#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.courseslist{
  float: right;
}

.course{
  width: 10000;
  box-shadow: 0 0 35px rgba(8, 89, 187, 0.996);
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.recordstyle{
  width: 150px;
  height: 250px;

}

.recordstyle img{
  width: 140px;
  height: 190px
}


.buttonlink{
  display: block;
  background-color: blue;
  color: white;
  width: 12rem;
  margin-right: 4rem;
}

.coursedata{
  display: flex;
  direction: rtl;
  margin: 0.2rem;
}


.maincontainer{
  display: flex;
  direction: rtl;
  background-color: aliceblue;
}

.divcourse{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: aliceblue;
  min-width: 350px;
  max-height: 510px;
  border: 5px solid #d7d4d4;
}

.coursepublic{
  box-sizing: border-box;
  width: 335px;
  display: block;
  background-color: aqua;
  border: 1px solid black;
  text-align: right;
}

.coursepublic div {
  margin: 5px;
}
.buttonstyle{
  margin: 0.3rem;
  min-width: 90px;
  max-width: 150px;
  height: 25px;
}

.titlestyle{
  display: inline-flex;
  direction: rtl;
  background-color:rgb(220, 219, 252);
  width: 1280px;
}


.header-div{
  position: unset;

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.publiclessens{
  height: 70px;
  border: 1px solid black;
  padding: 3px;
  display: flex;
}

.divcontainer{
  width: 800px;
  border: 1px solid black;
  background-color: aqua;

}

.divoutlet{
  width: 550px;
  min-height: 0rem;
  max-height: 510px;
  border: 1px solid  #d7d4d4;
  overflow-x: scroll;
}

.divcourses{
  direction: rtl;
  display: flex;
}

.divcourses img{
  width: 7rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
}

.publickrelation{
  background-color: rgb(169, 169, 204);
  z-index: 8;
}

.fatherrelation{
  background-color: #888;
  width: 330px;
  height: 30px;
}

.bgClick {
  height: 100vw;
  width: 100vw;
  z-index: 5;
  background-color: rgb(0, 0, 0, 0.5);
}

.rtl-container{
  direction: rtl;
}

.parent-style{
  background-color: #fff;
}


.title-style{
  margin-top: 50px;
  font-size: large;
  font-weight: 900;
  color: rgb(38, 0, 255);
}

.slider-style{
  width: 87%;
  margin: auto;
  background-color: #eee;
  border-radius: 10px;
}

.items-style{
  width: 85%;
  border-radius: 40px 40px 0 0;
  background-color: #88888894;
  margin: 10px auto;
}

.items-style img{
  width: 100%;
  border-radius: 100%;
  margin: 10px auto;
}

.items-style div{
  color: rgb(0, 0, 0);
  font-style: normal;
  background-color: greenyellow;
}

input[type=text] {
  width: 200px;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
  background-color: #eee;
}

input[type=button] {
  width: 80px;
  height: 54px;
  border-radius: 0px 20px 20px 0px;
  font-weight: bold;
  background-color: blue;
  font-weight: 900;
}
/* css-tricks.com */


/* for slider */

.slider {
  width: 100%;
  max-height: 620px;
  margin-top: 10px;
}

.slider img {
  width: 1130px;
  padding: 0;
  margin: auto;
  object-fit: cover;
  max-width: 1130px;
  max-height: 600px;
}