#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.courselist{
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

.course{
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  box-shadow: 0 0 35px rgba(8, 128, 187, 0.996);
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  overflow-x: scroll;
}

.recordstyle{
  width: 150px;
  height: 250px;

}

.recordstyle img{
  width: 140px;
  height: 190px
}

.titlestyle{
  direction: rtl;
}


.coursepublic{

  height: 150px;
  width: 220px;
  display: inline-block;

}

.coursedata{
  display: flex;
  direction: rtl;
  
}

.divcourse{
  background-color: azure;
  width: 400px;
  height: 1000px;
  
}

.maincontainer{
  display: flex;
  direction: rtl;
}