.login-container {
    display: flex;
    flex-direction: row-reverse;
}

.sidbarlogin{
    width: 230px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 80px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: aqua;
}

.sidbarlogin img{
    width: 200px;
    margin: 0px auto;
}

.imagelogin{
    width: 890px;
    height: 450px;
    margin: 10px 0px 10px 80px;
    border-radius: 10px 0px 0px 10px;
    background-color: aqua;
}

.imagelogin img {
    width: 350px;
    object-fit: cover;
}

