@media(max-width : 500px){

    *{
        box-sizing: border-box;
    }

    /* for header-top section */
    .header-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .loginkey {
        margin: 0;
        order: 2;
        margin-top: 10px;
    }

    .contact {
        display: none;
    }

    .logo {
        margin: 0;
        margin-top: 10px;
        order: 1;
    }

    .search {        
        order: 3;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .input-search{
        width: 100%;
        height: 30px;
        margin: 0;
        border-radius: 20px 20px 0 0;        
    }

    .input-button-search{
        width: 100%;
        height: 25px;
        margin: 0;
        border-radius: 0 0 20px 20px;
    }

    /* for grouping دسته بندی*/
    
    .grouping-div {
        width: 100%
    }

    /* for slider */
    .slider {
        margin-bottom: 10px;
    }

    .slider img {
        width: 190px;
    }

    /* ///////// */

    .items-style{
        width: 95%;
        margin: 10px auto; 
    }

    /* for footer */

    .section-one{
        
        display: none;
        width: 0%;
        margin: 0;
    }

    .navlink{
        display: none;
    }

    .section-two{
        width: 500px;
        
    }

    .icon, .Newsletters {
        margin-left: auto;
        margin-right: auto;
    }

};