@media(max-width : 500px){
    .header-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .loginkey {
        margin: auto;
    }
    .contact {
        display: none;
    }

    .logo {
    }

    .search {        
        order: 3;
        display: flex;
        flex-direction: column;
        margin-right: 6px;
    }

    input[type=text] {
        width: 190px;
        height: 30px;
        border-radius: 20px 20px 0 0;        
    }

    input[type=button] {
        width: 195px;
        height: 25px;
        border-radius: 0 0 20px 20px;
    }
};