@media(max-width : 500px){
    .header-top {
        display: flex;
        flex-direction: column;   
    }

    .loginkey {
        margin: auto;   
    }
    .contact {
        display: none;
    }

};