@media(min-width: 769px) and (max-width: 1200px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: start;
    }

    .loginkey{
        margin-left: 20px;
        width: 16%;
    }

    .contact{
        width: 18%;
        height: 40px;
    }

    .logo{
        width: 8%;
        margin: 0;
        margin-right: 20px;
    }

    .search{
        width: 35%;
    }

    .input-search{
        width: 70%;
        height: 55px;
    }
    
    .input-button-search{
        width: 30%;
    }

    /* for grouping دسته بندی */
    .grouping-div {
        width: 30%;
        height: 50px;
        border-radius: 30px;
    }

    /* for slider */
    .slider {
        margin-bottom: 25px;
    }
    .slider img {
        width: 710px;
    }

    /* ///// */
    .items-style{
        width: 95%;
        margin: 10px auto;
    }

    /* for footer */
    /* .section-one{
        width: 40%;
    }

    .section-two{
        width: 50%;
    }

    .input-text{
        width: 100px;
        height: 25px;
    }

    .input-botton{
        width: 80px;
        height: 25px;
    } */

}

